VITE_BACKEND_PROVIDER=supabase

VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=

VITE_SUPABASE_CREATE_ORDER_FUNCTION_NAME=create-order
VITE_SUPABASE_MANAGE_ORDER_FUNCTION_NAME=manage-order

VITE_SUPABASE_STOREFRONT_BUCKET=storefront-media
